@page "/"

<p>
    <h1>こんにちは! Welcome to Hiraganeo!</h1>
</p>

<p>
    <h3>How Hiraganeo works?</h3>
    Hiraganeo generates 250 syllabels in romaji from selected options. Generated text doesn't make sense byt let's you practice writing hiragana without searching for words composed from syllabels you know (for example only from A/I/U/E/O and KA/KI/KU/KE/KO
</p>

<p>
    <h3>How to use Hiraganeo:</h3>
    <ul>
        <li>
            Select syllabels under <NavLink href="options">options</NavLink>
        </li>
        <li>
            Practice your hiragana writing skills under <NavLink href="practice">practice</NavLink>
        </li>
    </ul>
</p>